[2021-02-19 02:28] NyamiDev opened #107 "Request for private location tracking"

[2022-06-01 15:40] cryptodread opened #1 "Need time estimations by role for each activity"
Lets get some ETAs!

[2022-06-21 20:51] cryptodread opened #2 "[Service]: NextCloud"
### Name of Proposed Service

NextCloud

### What kind of service is this?

Data

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [ ] Freedom Tech
- [X] Data Privacy
- [ ] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Medium

### How popular is th

[2022-06-21 22:44] kn0wmad opened #3 "[Initial]: IPFS v0.15.0"
### What kind of service is this?

Data

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [ ] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Medium

### How popular is this service?

High Demand

### Upstream Re

[2022-06-21 22:44] kn0wmad commented on #3
A functioning proof of concept is already on alpha and the listed repo is for that service wrapper

[2022-06-21 23:03] kn0wmad commented on #3
@cryptodread - how does this get to the next stage?  I think I need @MattDHill to give approval next, followed by Aiden.  What would that flow look like?

[2022-06-21 23:25] chrisguida opened #4 "[flowchart]: shrink "can it work" section or split it up"
The stage before actually attempting to package a service is of limited utility. It should be shrunk or divided to reflect this.

"Can it work" can consist of identifying demand and alignment. Identifying technical challenge, however, is a hard problem and cannot be resolved before attempting to package the service.

"Identify technical challenge" could be its own section, between "can it work" an

[2022-06-22 00:00] cryptodread commented on #4
Thanks for the feedback! The "can if work" section is a lot more than just identifying demand and alignment. The path to RIP is valuable as an archive of decisions that can be referenced for (a) providing a quick decision on a similar service (b) keeping track of previously rejected so future submissions of the same service can be quickly rejected (c) in the future, providing us with trending metr

[2022-06-22 13:49] cryptodread commented on #3
via comments.
@MattDHill will comment here with his approval, followed by
@dr-bonez with his - based on the flowchart.
Then assignments are made (via comments and actual github issue assignments:
- the engineer, product lead, and marketing person should be assigned to the issue after approval, and listed in the comments.

NOTE: This is going to be a very manual process until we get the steps naile

[2022-06-22 13:50] cryptodread commented on #3
via comments.
@MattDHill will comment here with his approval, followed by
@dr-bonez with his - based on the flowchart.
Then assignments are made (via comments and actual github issue assignments:

    the engineer, product lead, and marketing person should be assigned to the issue after approval, and listed in the comments.

NOTE: This is going to be a very manual process until we get the steps na

[2022-06-22 15:50] chrisguida commented on #2
I would guess "Medium" is an underestimation of the complexity. But I have no reference.

[2022-06-22 23:50] MattDHill commented on #3
So the service in question is a bare-bones IPFS node? Does it include a UI? How do I use it?

[2022-06-23 03:14] kn0wmad commented on #3
Yes, this is an IPFS node with a webUI.  It automatically adds peers, and you can manually add others if you'd like.  You can import data from a local machine (and perhaps an Embassy volume, such as FB), which will give it a CID (hash), which can be used by peers to fetch that data.  A node can also "pin" content, in order to keep a full copy available for download.

Tested so far - node can conne

[2022-06-23 19:49] chrisguida commented on #3
😢

[2022-06-23 20:13] chrisguida opened #6 "[Service]: Eclair"
### What kind of service is this?

Lightning

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [X] Bitcoin/Lightning
- [X] Open Source Dev

### How complex is this service?

Medium

### How popular is this service?

Low Demand

### Upstrea

[2022-06-23 20:15] chrisguida commented on #6
This is pretty much done on alpha, needs automatic build/config to make it to beta.

[2022-06-23 21:31] chrisguida opened #7 "[Service Request]: LndHub"
### What kind of service is this?

Lightning

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [X] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Easy

### How popular is this service?

Low Demand

### Upstream

[2022-06-23 21:46] kn0wmad commented on #7
I'm not sure this fits the "Dev" category

[2022-06-23 22:13] chrisguida commented on #7
@kn0wmad What would you say *does* fit that category?

[2022-06-24 00:59] MattDHill commented on #3
Green light from me

[2022-06-24 15:23] chrisguida commented on #7
@cryptodread what were you imagining for "open source dev"? Do any of our current sources fit this category?

[2022-06-27 14:37] cryptodread commented on #2
One more approval and we are off to the races. I've already gotten a headstart on the repo [here](https://github.com/cryptodread/nextcloud-wrapper)

[2022-06-27 14:50] cryptodread commented on #7
first - all of the categories are imagined out of my head, so feel free to suggest changes.
I imagined the dev category would be things like code-server, gitea, or other self-hosted IDE tools

[2022-06-27 14:51] #1 closed

[2022-06-28 04:54] MattDHill commented on #6
I'm ok with packaging Eclair. Still TBD if we will maintain and support it on the official marketplace.

[2022-06-28 04:55] MattDHill commented on #7
Green lit

[2022-06-28 12:40] kn0wmad commented on #2
CC @dr-bonez

[2022-06-28 16:41] elvece opened #8 "[Service] Bitcoin Core 23.0.0"
- [x] Updated to latest upstream version
- [x] Converted to use JS procedures
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested
   - [x] downgrade to v22.0.1 from v23 @cryptodread
   - [x] v21 downgrade and back to v23 @kn0wmad
- [x] Merged to master
- [x] Release tag drafted

[2022-06-28 18:48] elvece opened #9 "[Service] Proxy 0.3.2.3"
- [x] Updated to latest upstream version (gbci is no longer intercepted in our fork)
- [x] Converted to use JS procedures
- [x] Bug in properties modal - error before first run
- [x] remove fetch blocks
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested, if applicable
- [x] Merged to master
- [x] Release tag drafted

[2022-06-28 18:50] elvece opened #10 "[Service] Specter 1.10.3"
- [x] Updated to use JS procedures
- [x] High quality logo
- [x] Instructions accurate
- [x] License accurate
- [x] Release notes accurate
- [x] Merged to master
- [x] Release tag drafted

[2022-06-28 18:57] elvece opened #11 "[Service] LND 0.14.2.2"
~~Updated to latest upstream version~~ (moved to https://github.com/Start9Labs/lnd-wrapper/issues/62)
- [x] Converted to use JS procedures
- [x] Neutrino auto switching
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested, if applicable
- [x] Merged to master
- [x] Release tag drafted

[2022-06-28 19:04] elvece opened #12 "[Service] BTCPay 1.4.7.3"
~~- [ ] Updated to latest upstream version~~
- [x] Converted to use JS procedures
- [x] Bug with properties page - error before first run
- [x] Bug with JS conversion for dependencies.yaml
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Merged to master
- [x] Release tag drafted

[2022-06-28 19:07] elvece opened #13 "[Service] Electrs 0.9.7.1"
~~- [ ] Updated to latest upstream version~~
- [x] Converted to use JS procedures
- [x] Convert JS dependencies.yaml
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested, if applicable
- [x] Merged to master
- [x] Release tag drafted

[2022-06-28 19:09] elvece opened #14 "[Service] Mempool 4.3.0.1"
~~- [ ] Updated to latest upstream version~~
- [x] Converted to use JS procedures
- [x] Convert dependencies.yaml to JS
- [x] Properties error before first run
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [ ] Migration(s) tested, if applicable
- [ ] Merged to master
- [ ] Release tag cut

[2022-06-28 19:11] elvece opened #15 "[Service] Syncthing 1.20.2"

[2022-06-28 19:11] elvece opened #16 "[Service] Filebrowser 2.21.1"
- [x] Updated to latest upstream version
- [x] Converted to use JS procedures
- [x] Bug with JS dependencies.yaml
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested, if applicable
- [x] Merged to master
- [x] Release tag cut

[2022-06-28 19:13] elvece opened #17 "CLN 0.11.1.1"

[2022-06-28 19:15] elvece opened #18 "[Service] Thunderhub 0.13.13"
- [x] Updated to latest upstream version
- [x] Converted to use JS procedures
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested, if applicable
- [x] Merged to master
- [x] Release tag cut

[2022-06-28 19:15] elvece opened #19 "[Service] Lightning Terminal 0.6.7.1"
~~- [ ] Updated to latest upstream version~~
- [x] Converted to use JS procedures
- [x] Properties error before first run
- [x] Instructions updated/accurate
- [x] Release notes accurate
- [x] Migration(s) tested, if applicable
- [x] Merged to master
- [x] Release tag cut

[2022-06-29 00:12] elvece commented on #11
Needs merging for JS procedures: https://github.com/Start9Labs/lnd-wrapper/pull/58

[2022-06-29 15:06] chrisguida commented on #9
@Blu-J Is the fix for properties pushed up somewhere public?

[2022-06-29 15:46] cryptodread commented on #9
@dr-bonez Assigned as Service Owner for Proxy as of {today}

[2022-06-29 15:59] elvece commented on #16
@Blu-J

- [ ] properties fix
- [ ] tbd config fix

[2022-06-29 15:59] elvece commented on #15
@Blu-J

- [ ] properties fix
- [ ] tbd config fix

[2022-06-29 16:00] elvece commented on #9
@dr-bonez

- [ ] properties fix
- [ ] tbd config fix

[2022-06-29 16:00] elvece commented on #10
@Blu-J

- [ ] properties fix
- [ ] tbd config fix

[2022-06-29 16:00] elvece commented on #19
@cryptodread

- [ ] properties fix
- [ ] tbd config fix

[2022-06-29 16:11] elvece commented on #12
@Blu-J

- [ ] fix for properties
- [ ] JS convert dependencies yaml
- [ ] tbd fix for config

[2022-06-29 18:48] Blu-J commented on #8
@dr-bonez Did
- [x] Fix the config

[2022-06-29 20:46] kn0wmad commented on #8
v23 -> v21 -> v23 test good (a fix was required)

Updated instructions and release notes

[2022-07-01 04:38] cryptodread commented on #18
does proxy fetch blocks apply to this service? I don't think TH uses proxy.

[2022-07-01 15:41] cryptodread opened #20 "[Service]: RTL 0.12.3.2"
Update to JS and new Library

[2022-07-05 20:36] cryptodread commented on #18
updated with health-chk fix and pushed to alpha and beta.

[2022-07-06 17:01] Blu-J commented on #11
https://github.com/Start9Labs/lnd-wrapper/pull/65
for the last proxy to undefined

[2022-07-07 14:42] chrisguida opened #21 "[Service]: conduit.rs"
### What kind of service is this?

Messaging

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [ ] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Medium

### How popular is this service?

Low Demand

### Upstrea

[2022-07-07 14:43] chrisguida commented on #21
cc @k0gen

[2022-07-07 15:00] chrisguida opened #22 "[Initial]: LNbits v0.9.2"
### What kind of service is this?

Lightning

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [X] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Easy

### How popular is this service?

Low Demand

### Upstream

[2022-07-11 23:48] dr-bonez commented on #2
approved

[2022-07-12 16:44] cryptodread opened #23 "[Service] LNDg 1.1.2"

[2022-07-12 18:29] #16 closed

[2022-07-12 18:29] #18 closed

[2022-07-12 18:29] #12 closed

[2022-07-12 18:29] #11 closed

[2022-07-12 18:29] #9 closed

[2022-07-12 18:30] #8 closed

[2022-07-12 18:30] #19 closed

[2022-07-12 18:30] #14 closed

[2022-07-12 18:31] #13 closed, assigned to chrisguida

[2022-07-12 18:56] MattDHill commented on #21
Approved

[2022-07-12 19:05] cryptodread opened #24 "[Service] Photoview 2.3.12"

[2022-07-12 20:01] dr-bonez commented on #3
looks like it will work. please keep me in the loop during the process of building it. this is a big one, and can have a lot of integrations with other services, and could even inspire some os features

[2022-07-14 22:14] chrisguida opened #25 "[Upstream]: CLN 0.12.0"
- [x] https://github.com/Start9Labs/c-lightning-wrapper/pull/54
- [x] https://github.com/Start9Labs/c-lightning-wrapper/issues/52
- [x] https://github.com/Start9Labs/c-lightning-wrapper/issues/50

Edit: Moved to [0.11.2.1](https://github.com/Start9Labs/s9-services/issues/60):
~~- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/51~~
~~- [ ] https://github.com/Start9Labs/c-lightning-wra

[2022-07-14 22:16] chrisguida opened #26 "[Upstream]: Electrs 0.9.9"
- [x] https://github.com/Start9Labs/electrs-wrapper/issues/5
- [x] update to js migrations

[2022-07-14 22:18] chrisguida opened #27 "[Maintenance]: RTL 0.12.3.2"
[ ] https://github.com/Start9Labs/ride-the-lightning-wrapper/pull/17
- rebase master to cleanup git commit history

[2022-07-14 22:25] #27 closed

[2022-07-14 22:25] chrisguida commented on #27
Duplcate of https://github.com/Start9Labs/s9-services/issues/20

[2022-07-14 22:40] chrisguida opened #28 "[Upstream]: LND 0.15.3"
- [ ] https://github.com/Start9Labs/lnd-wrapper/issues/63
- [ ] https://github.com/Start9Labs/lnd-wrapper/issues/59
- [ ] https://github.com/Start9Labs/lnd-wrapper/issues/54
- [ ] https://github.com/Start9Labs/lnd-wrapper/issues/41
- [ ] https://github.com/Start9Labs/lnd-wrapper/issues/36 [IN PROGRESS]

[2022-07-18 17:51] cryptodread commented on #2
Approved, awesome! Next step is to assign roles for this Service so we can crush this flow and get it on the PROD marketplace:

- Service Owner: @kn0wmad
- Architect: @dr-bonez
- Engineer: @cryptodread
- Product: @kn0wmad
- Marketing: Doc
- Sovereign: @MattDHill

We are here:
<img width="1212" alt="Screen Shot 2022-07-18 at 1 49 51 PM" src="https://user-images.githubusercontent.com/34528298/179572

[2022-07-18 18:12] cryptodread commented on #3
Approved, awesome! Next step is to assign roles for this Service so we can crush this flow and get it on the PROD marketplace:

Service Owner: @kn0wmad
Architect: @dr-bonez
Engineer: @chrisguida
Product: @gStart9
Marketing: Doc
Sovereign: @MattDHill

We are here:
<img width="1212" alt="Screen Shot 2022-07-18 at 1 49 51 PM" src="https://user-images.githubusercontent.com/34528298/179575122-e510bb7c-

[2022-07-18 18:13] cryptodread commented on #6
yes.

[2022-07-18 19:09] chrisguida commented on #6
Cool. @dr-bonez ?

[2022-07-19 19:22] islandbitcoin opened #29 "[Upstream]: LND 0.15.0"
- [x] https://github.com/Start9Labs/lnd-wrapper/issues/62
- [x] https://github.com/Start9Labs/lnd-wrapper/issues/64
- [x] #30
- [x] #58
- [x] #57
- [x] https://github.com/Start9Labs/s9-services/issues/50
- [ ] https://github.com/Start9Labs/lnd-wrapper/issues/47
- [x] https://github.com/Start9Labs/s9-services/issues/48
- [x] https://github.com/Start9Labs/s9-services/issues/55
- [ ] https://github.c

[2022-07-20 13:11] islandbitcoin opened #30 "[Upstream]: Lightning Terminal v0.7.0"
- [x] https://github.com/Start9Labs/lightning-terminal-wrapper/issues/3
- [x] https://github.com/Start9Labs/lightning-terminal-wrapper/issues/2
- [x] Regression test on v0.3.1.1

[2022-07-20 18:41] kn0wmad opened #31 "[Upstream]: Vaultwarden 1.25.1"

[2022-07-20 18:41] kn0wmad opened #33 "[Upstream]: Vaultwarden 1.25.1"

[2022-07-20 18:41] BitcoinMechanic opened #32 "[Upstream]: Specter 1.10.5"
- [x] https://github.com/Start9Labs/specter-wrapper/issues/24
- [x] https://github.com/Start9Labs/specter-wrapper/issues/22
- [x] https://github.com/Start9Labs/specter-wrapper/issues/21
- [x] https://github.com/Start9Labs/specter-wrapper/issues/25
- [x] https://github.com/Start9Labs/specter-wrapper/issues/26

[2022-07-20 18:49] #33 closed

[2022-07-20 18:49] kn0wmad opened #34 "[Upstream]: Vaultwarden 1.25.2"

[2022-07-20 18:52] islandbitcoin opened #35 "[Upstream]: Photoview v2.3.13"
- [ ] https://github.com/Start9Labs/embassyos-photoview-wrapper/issues/11
- [ ] https://github.com/Start9Labs/embassyos-photoview-wrapper/issues/10
- [ ] https://github.com/Start9Labs/embassyos-photoview-wrapper/issues/9
- [ ] https://github.com/Start9Labs/embassyos-photoview-wrapper/issues/8
- [ ] https://github.com/Start9Labs/photoview-wrapper/issues/12

[2022-07-20 18:54] kn0wmad opened #36 "[Initial]: Nextcloud"

[2022-07-20 20:15] kn0wmad opened #37 "[Service Request]: Prosody"
An implementation would need to be selected.  My suggestion is Prosody

[2022-07-20 20:22] kn0wmad opened #39 "[Service Request]: IRC Server"
An implementation would need to be selected.  I would suggest UnrealIRCD or InspIRCd

[2022-07-20 20:24] kn0wmad opened #40 "[Initial]: Ghost v5.13.2"

[2022-07-20 20:26] kn0wmad opened #41 "[Initial]: SearXNG v1.0.0"
https://github.com/searx/searx

[2022-07-20 20:28] kn0wmad opened #42 "[Service Request]: Floccus Browser Sync"
https://floccus.org/

Has Nextcloud and WebDAV support

[2022-07-20 20:34] kn0wmad opened #43 "[Initial]: JAM v0.1.0"
Some work has already been done on this, unsure of status

[2022-07-20 20:36] kn0wmad opened #44 "[Service Request]: Dojo Stack"
Zelko promised some help here, possibly more valuable for the relationship with Samourai/RoninDojo than it would be for users.

[2022-07-20 20:40] kn0wmad opened #45 "[Service Request]: Jellyfin"
Alternative: https://github.com/xbmc/xbmc  (XMBC is former name)

Alternative: Plex (https://github.com/plexinc/pms-docker)

A media server is a powerful tool for a home server, better suited to the Pro device than the raspi, but if this is all you want, the raspi will do the trick

[2022-07-20 20:42] kn0wmad opened #46 "[Service Request]: Minetest"
https://www.minetest.net/

Minecraft server - would add an element of fun to the Market, and bring a whole new crowd (gamers / teens / families) into the fold

[2022-07-20 20:44] kn0wmad opened #47 "[Service Request]: Simple Torrent"
https://github.com/boypt/simple-torrent

Hosted torrent "client" (actually a server), for remote downloading of torrents, also allows remote streaming back from the server

[2022-07-20 20:48] kn0wmad commented on #47
Note: clearnet required, tor doesn't deal with UDP and is horrible for file transfer anyhow

[2022-07-21 02:46] MattDHill commented on #37
Approved pending @dr-bonez confirmation of Prosody suggestion.

[2022-07-21 03:23] dr-bonez commented on #37
I think prosody is probably the right approach

[2022-07-21 03:28] dr-bonez commented on #6
looks fine to me

[2022-07-21 03:30] MattDHill commented on #39
Approved pending selection of implementation with @dr-bonez

[2022-07-21 03:31] MattDHill commented on #40
Approved

[2022-07-21 03:39] MattDHill commented on #41
Approved. Looks great if it does what it claims and well.

[2022-07-21 03:44] MattDHill commented on #42
Approved

[2022-07-21 03:46] MattDHill commented on #43
Approved

[2022-07-21 03:46] MattDHill commented on #44
Approved

[2022-07-21 03:50] MattDHill commented on #45
Kodi and/or Plex approved

[2022-07-21 03:50] MattDHill commented on #46
Approved

[2022-07-21 03:51] MattDHill commented on #47
Approved

[2022-07-21 13:08] islandbitcoin opened #48 "[Upstream]: LNDg v1.2.1"
- [x] https://github.com/Start9Labs/lndg-wrapper/issues/8
- [x] https://github.com/Start9Labs/lndg-wrapper/issues/7
- [x] https://github.com/Start9Labs/lndg-wrapper/issues/5

[2022-07-21 14:29] islandbitcoin opened #49 "[Maintenance]: Mempool v2.5.0"
- [ ] https://github.com/Start9Labs/mempool-wrapper/issues/11
- [ ] https://github.com/Start9Labs/mempool-wrapper/issues/16

[2022-07-21 14:38] islandbitcoin opened #50 "[Upstream]: Thunderhub v0.13.14"
- [x] https://github.com/Start9Labs/thunderhub-wrapper/issues/21
- [x] https://github.com/Start9Labs/thunderhub-wrapper/issues/15
- [x] https://github.com/Start9Labs/thunderhub-wrapper/issues/20

[2022-07-21 14:42] #20 closed

[2022-07-21 14:42] #10 closed

[2022-07-21 14:44] cryptodread commented on #23
moving to https://github.com/Start9Labs/s9-services/issues/48

[2022-07-21 14:44] #23 closed

[2022-07-21 14:44] cryptodread commented on #24
moving to https://github.com/Start9Labs/s9-services/issues/35

[2022-07-21 14:44] #24 closed

[2022-07-21 15:23] dr-bonez commented on #39
There's too different routes we can go: if we want the most used, most configurable, most featureful option, we should use [UnrealIRCd](https://github.com/unrealircd/unrealircd). If we want something lightweight, we should use [ngIRCd](https://ngircd.barton.de/)

[2022-07-21 15:27] dr-bonez commented on #42
how does this compare to [Firefox Sync Server](https://github.com/mozilla-services/syncserver)

[2022-07-21 15:42] islandbitcoin opened #51 "[Maintenance]: Burn After Reading v0.1.4.1"
- [ ] https://github.com/Start9Labs/burn-after-reading/issues/15
- [ ] https://github.com/Start9Labs/burn-after-reading/issues/7

[2022-07-21 16:00] islandbitcoin opened #52 "[Upstream]: Mastodon v3.5.3"
- [ ] https://github.com/Start9Labs/mastodon-wrapper/issues/21
- [ ] https://github.com/Start9Labs/mastodon-wrapper/issues/20
- [ ] https://github.com/Start9Labs/mastodon-wrapper/issues/19
- [ ] https://github.com/Start9Labs/mastodon-wrapper/issues/13
- [ ] https://github.com/Start9Labs/mastodon-wrapper/issues/11
- [ ] https://github.com/Start9Labs/mastodon-wrapper/issues/2

[2022-07-21 16:13] islandbitcoin opened #53 "[Upstream]: File Browser v2.22.4"
- [ ] https://github.com/Start9Labs/filebrowser-wrapper/issues/21
- [ ] https://github.com/Start9Labs/filebrowser-wrapper/issues/26
- [ ] https://github.com/Start9Labs/filebrowser-wrapper/issues/12

[2022-07-22 18:18] kn0wmad commented on #42
This allows multi-browser support, as well as Nextcloud sync.  Firefox Sync Server is another good choice, however it requires a Firefox Accounts Server.  This means either using Mozilla's server for an account, or also packaging the Accounts Server for Embassy

https://mozilla-services.readthedocs.io/en/latest/howtos/run-sync-1.5.html

[2022-07-25 17:37] kn0wmad opened #54 "[Maintenance]: Synapse v1.63.1"
### What kind of service is this?

Messaging

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [ ] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Hard

### How popular is this service?

High Demand

### Upstream

[2022-07-25 17:38] kn0wmad commented on #54
WIP already by k0gen

[2022-07-26 19:19] islandbitcoin opened #55 "[Upstream]: BalanceofSatoshis v12.16.2"
- [ ] https://github.com/Start9Labs/balanceofsatoshis-wrapper/issues/2
- [ ] https://github.com/Start9Labs/balanceofsatoshis-wrapper/issues/1

[2022-07-26 19:26] MattDHill opened #56 "[Upstream]: BTCPS v1.6.10"

[2022-07-26 19:45] islandbitcoin opened #57 "[Upstream]: Lightning Jet v1.4.4"

[2022-07-26 19:47] cryptodread commented on #57
- [ ] https://github.com/Start9Labs/lightning-jet-wrapper/issues/3
- [ ] https://github.com/Start9Labs/lightning-jet-wrapper/issues/2
- [ ] https://github.com/Start9Labs/lightning-jet-wrapper/issues/1

[2022-07-26 19:48] islandbitcoin opened #58 "[Upstream]: RTL v0.13.1"
- [x] https://github.com/Start9Labs/ride-the-lightning-wrapper/issues/20
- [x] https://github.com/Start9Labs/ride-the-lightning-wrapper/issues/19

TODO:
- [ ] https://github.com/Start9Labs/ride-the-lightning-wrapper/issues/15
- [ ] js migrations

[2022-07-26 19:49] cryptodread commented on #58
- [ ] https://github.com/Start9Labs/ride-the-lightning-wrapper/issues/20

[2022-07-27 02:00] chrisguida commented on #58
Moved https://github.com/Start9Labs/ride-the-lightning-wrapper/issues/19 up from v0.12.3.4 to v0.12.3.3

[2022-07-27 15:47] islandbitcoin opened #59 "[Upstream]: Sphinx Relay v2.2.9"

[2022-07-27 19:04] chrisguida commented on #29
Excellent issue

[2022-07-27 19:05] chrisguida commented on #29
At what point are you checking these off? The child releases have actually not gone out yet

[2022-07-28 14:03] chrisguida opened #60 "[Upstream]: CLN v0.12.1"
- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/51
- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/44
- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/41
- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/38
- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/37
- [ ] https://github.com/Start9Labs/c-lightning-wrapper/issues/55
- [

[2022-07-28 20:50] chrisguida commented on #59
<img width="1006" alt="Screen Shot 2022-07-28 at 3 50 33 PM" src="https://user-images.githubusercontent.com/7445670/181635115-b4c67e3f-74d0-43ef-b37c-6958a3d833f2.png">

https://github.com/stakwork/sphinx-relay/wiki/Home-node-FAQ

[2022-07-30 15:33] chrisguida opened #61 "[Initial]: IFPS v0.14.0"
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/2
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/3
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/4
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/5
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/6
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/7
- [ ] https://github.com/chrisguida/ipfs-wrapper/iss

[2022-08-04 16:13] chrisguida commented on #25
Just waiting on 0.12 to be release upstream, current beta version includes this release candidate: https://github.com/ElementsProject/lightning/releases/tag/v0.12.0rc1

[2022-08-04 16:16] chrisguida opened #62 "[Compatibility Bump]: BTCPS v1.4.7.4"

[2022-08-04 16:16] chrisguida commented on #62
- [ ] https://github.com/Start9Labs/btcpayserver-wrapper/pull/29

[2022-08-04 16:18] chrisguida opened #63 "[Maintenance]: Spark v0.3.1.4"

[2022-08-04 18:19] chrisguida commented on #29
This has a bug with the `cipher_seed_mnemonic` when starting a new node. Putting back into "in progress" until this is fixed.

[2022-08-09 14:21] chrisguida commented on #26
https://github.com/romanz/electrs/releases/tag/v0.9.8

[2022-08-10 15:10] kn0wmad opened #64 "[Service]: Gitea"
### What kind of service is this?

Other

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [ ] Freedom Tech
- [ ] Data Privacy
- [ ] Bitcoin/Lightning
- [X] Open Source Dev

### How complex is this service?

Medium

### How popular is this service?

Low Demand

### Upstream Re

[2022-08-10 15:11] kn0wmad commented on #63
@chrisguida Is this for compatibility with CLN v0.12?  @gStart9 we can knock this out in very short order

[2022-08-10 15:48] kn0wmad commented on #3
What is SOP for this ticket vs #61?  They seem to be duplicates

[2022-08-10 15:49] kn0wmad commented on #2
What is SOP for this ticket vs #36? They seem to be duplicates

[2022-08-10 15:51] kn0wmad commented on #28
Dupe of #29?

[2022-08-10 17:36] chrisguida commented on #63
George is already working on it

[2022-08-10 17:40] chrisguida commented on #3
#61 is to track the initial release, this ticket is to track product lifecycle

[2022-08-10 19:31] MattDHill commented on #2
I believe this ticket is just the original request. You opened the other one later which is more tracking the initial release.

[2022-08-10 21:09] kn0wmad commented on #28
I noticed that.  I'm confused why there are 2 updates?

[2022-08-10 21:10] kn0wmad commented on #2
So this can be closed as accepted?

[2022-08-10 21:10] kn0wmad commented on #3
So this ticket remains open in perpetuity?

[2022-08-10 23:04] chrisguida commented on #28
Because it's impossible to get all of the above done in time for the 0.15.0 release

[2022-08-10 23:06] chrisguida commented on #3
It closes when it gets to the far right side of [this board](https://github.com/orgs/Start9Labs/projects/86)

[2022-08-11 17:09] elvece commented on #56
Updated title to reflect latest available (1.6.7)

[2022-08-11 19:58] kn0wmad commented on #3
I'm going to make the case that this service be completed (it is half-done and does not appear to be a big lift) by S9 and sent directly to the Community Marketplace to sit and await a maintainer to pick it up.  From my perspective, and based on today's meeting, IPFS meets all criteria for a service we would like available, is fairly highly requested by the community at large, and is in extremely

[2022-08-12 02:59] #34 closed

[2022-08-12 03:04] MattDHill commented on #3
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/2
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/3
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/4
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/5
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/6
- [ ] https://github.com/chrisguida/ipfs-wrapper/issues/7
- [ ] https://github.com/chrisguida/ipfs-wrapper/iss

[2022-08-12 13:32] chrisguida commented on #3
@MattDHill How shall I prioritize this?

[2022-08-12 16:09] chrisguida opened #65 "[Initial]: Gitea v1.16.9"
All known issues fixed

[2022-08-12 16:52] k0gen commented on #54
[code]
On Alpha and Beta

[2022-08-12 23:54] MattDHill commented on #3
Let's have a planning session after the LND/CLN stack releases

[2022-08-13 06:08] gStart9 commented on #63
Tested and uploaded latest build to Alpha.

Latest PR https://github.com/Start9Labs/spark-wallet-wrapper/pull/18

[2022-08-15 16:51] chrisguida commented on #58
Updated upstream to 0.13

[2022-08-15 19:20] elvece commented on #62
- [ ] https://github.com/Start9Labs/btcpayserver-wrapper/pull/30

[2022-08-15 19:32] elvece commented on #56
- [ ] https://github.com/Start9Labs/btcpayserver-wrapper/pull/30

[2022-08-15 19:32] elvece commented on #62
Closing in favor of https://github.com/orgs/Start9Labs/projects/85/views/1?filterQuery=btc

[2022-08-15 22:35] chrisguida commented on #62
In the future, feel free to simply rename the service release issue instead of making an entirely new one.

[2022-08-15 23:12] #65 closed

[2022-08-16 00:21] gStart9 commented on #63
Tested & published to Beta last night.

[2022-08-16 19:39] kn0wmad commented on #63
Looking good to me, please announce to beta testers in appropriate Matrix channels

[2022-08-16 22:25] #64 closed

[2022-08-16 22:27] #54 closed

[2022-08-17 18:13] chrisguida commented on #30
Waiting for LND 0.15 before we release

[2022-08-17 18:31] islandbitcoin commented on #2
Started packaging this - it works on first startup.
Upon restart it will crash with a memory heap error. I think it might be because it cannot find the DB on restart.

[2022-08-17 18:32] islandbitcoin commented on #2
Will add error message soon(tm)

[2022-08-17 18:32] elvece commented on #56
In progress: refactor to use s6 init system for multiple processes in Docker container - this currently in testing / bugfixing

[2022-08-17 18:38] chrisguida commented on #35
@MattDHill This is up for grabs if you want it

[2022-08-17 18:40] chrisguida commented on #40
@k0gen how's this going?

[2022-08-17 18:40] chrisguida commented on #52
@k0gen how's this going?

[2022-08-17 18:41] chrisguida commented on #53
@Blu-J how's this going?

[2022-08-17 18:47] Blu-J commented on #53
Web dav is not coming for a while, if ever. Dependent on new features from the os.
filebrowser-wrapper#12, don't I have to go into filebrowser itself, why didn't we create a feature there?

Could do the update to the filebrowser is the only one here doable?

[2022-08-17 18:51] #32 closed

[2022-08-17 18:53] chrisguida commented on #53
Ok thanks. Regarding filebrowser-wrapper#12, that's a question for @MattDHill

[2022-08-17 18:54] chrisguida commented on #53
@Blu-J Yeah, whatever you can do in the next release should go in this ticket. Anything you're leaving for later should go in a new ticket, with the version number incremented.

[2022-08-17 19:03] islandbitcoin commented on #43
Currently not working even on my local machine when trying to install jam-docker.
Still in progress, current error message is as follows:
[code]

[2022-08-17 19:04] islandbitcoin commented on #43
All I did is follow these instructions exactly:

https://jamdocs.org/software/installation/#with-docker-image

[2022-08-17 19:53] dr-bonez opened #66 "[Maintenance]: Bitcoin Core v23.0.0.1"

[2022-08-17 19:55] dr-bonez opened #67 "[Maintenance]: Bitcoin Proxy v0.3.2.5"

[2022-08-17 22:23] MattDHill commented on #53
I'm not sure if File Browser offers alternative means of authenticating. If not, perhaps auth timeout is configurable. If not this would have to be changed in FB itself, either by us or FB team Let me know.

[2022-08-23 21:01] chrisguida commented on #26
Released https://github.com/Start9Labs/electrs-wrapper/releases/tag/v0.9.9

[2022-08-23 21:01] #26 closed

[2022-08-24 18:35] chrisguida commented on #55
released https://github.com/Start9Labs/balanceofsatoshis-wrapper/releases/tag/v12.16.2

[2022-08-24 18:35] #55 closed

[2022-08-24 18:36] chrisguida commented on #48
released to prod https://github.com/Start9Labs/lndg-wrapper/releases/tag/v1.2.1

[2022-08-24 18:36] #48 closed

[2022-08-24 18:36] chrisguida commented on #57
released to prod https://github.com/Start9Labs/lightning-jet-wrapper/releases/tag/v1.5.0

[2022-08-24 18:36] #57 closed

[2022-08-24 18:36] chrisguida commented on #50
released to prod https://github.com/Start9Labs/thunderhub-wrapper/releases/tag/v0.13.14

[2022-08-24 18:36] #50 closed

[2022-08-24 18:37] chrisguida commented on #63
released to prod https://github.com/Start9Labs/spark-wallet-wrapper/releases/tag/v0.3.1.4

[2022-08-24 18:37] #63 closed

[2022-08-25 13:53] chrisguida commented on #59
Released https://github.com/Start9Labs/sphinx-relay-wrapper/releases/tag/v2.2.9

[2022-08-25 13:53] #59 closed

[2022-08-25 13:54] chrisguida commented on #58
Waiting for upstream 0.13.1 with bugfix for creating private channels from liquidity ads page

[2022-08-25 22:20] chrisguida commented on #58
Released https://github.com/Start9Labs/ride-the-lightning-wrapper/releases/tag/v0.13.1

[2022-08-25 22:20] #58 closed

[2022-08-25 22:34] chrisguida commented on #62
Released

[2022-08-25 22:34] #62 closed

[2022-08-26 19:21] elvece commented on #56
Cases tested for migration to using JS scripts for migrations, plus fixing prod for compatible versions (errors before due to incorrect pattern description key and regex for pattern description - didn't fail on prior released versions due to an eOS bug, which was resolved in a patch release)

1.6.6 installed, configured, started - downgrade to 1.4.7.3, no need to configure = success
1.6.6 installe

[2022-08-29 17:25] elvece opened #68 "[Maintenance]: Embassy Pages v0.1.4"
- [x] Updates configuration to use JS procedures
- [x] Sets up migration infrastructure using JS procedures
- [x] Uses JS procedures for health check
- [x] Convert properties to JS

[2022-08-30 14:55] k0gen commented on #40
It is going well - started using it on my production Embassy [HERE](http://gur7ib3qijvmlpjw43dmxxwgvazhswucha4dgz6xrrcsnta5pjjab7qd.onion)

[2022-08-30 15:45] #56 closed

[2022-08-30 17:27] chrisguida commented on #40
🔥

[2022-08-31 23:15] #29 closed

[2022-09-01 13:20] chrisguida commented on #25
Released https://github.com/Start9Labs/c-lightning-wrapper/releases/tag/v0.12.0

[2022-09-01 13:20] #25 closed

[2022-09-01 21:40] elvece commented on #68
https://github.com/Start9Labs/embassy-pages-wrapper/pull/7

[2022-09-02 20:01] #30 closed

[2022-09-06 16:05] elvece commented on #68
Released

[2022-09-06 16:05] #68 closed

[2022-09-09 20:48] islandbitcoin opened #69 "[Service] RoboSats v0.1.0"

[2022-09-09 20:49] islandbitcoin opened #70 "[Service] Sensei v0.2.1"
Needs to have Tor support before it makes sense to move forward with packaging this for EmbassyOS.

[2022-09-11 05:26] islandbitcoin commented on #43
works now, but CJ scheduler is getting stuck in the middle of collaborative txs. waiting on v0.1.0 to finish packaging and test.

[2022-09-17 09:38] MEdGalo opened #71 "[feat]: Add Fulcrum server"

[2022-09-21 18:11] k0gen commented on #46
I can take this one (cause my boys are asking for it)

[2022-09-21 18:15] islandbitcoin commented on #2
to-do:
- make issue on desktop connection
- improve documentation

[2022-09-21 18:15] islandbitcoin commented on #69
- remain in beta for the next 2 weeks
- improve documentation to make sure its onion only

[2022-09-21 18:18] chrisguida commented on #40
Waiting for @MattDHill to test and decide whether the issues are blocking releasse

[2022-09-21 18:21] chrisguida commented on #43
Waiting for upstream dev to refactor code.

Waiting for @islandbitcoin to resolve @BitcoinMechanic 's issue with orderbook

[2022-09-21 18:29] chrisguida commented on #3
Waiting on this upstream issue: https://github.com/ipfs/kubo/issues/9288

[2022-09-21 18:31] chrisguida commented on #28
Assigning to @islandbitcoin

[2022-09-21 18:34] chrisguida commented on #28
I'll finish the js properties conversion, doesn't need to go with 0.15.1

[2022-09-21 18:36] chrisguida commented on #37
Needs rewrite before publishing to alpha

[2022-09-21 18:42] chrisguida commented on #37
Needs rewrite before publishing to alpha according to @MattDHill

[2022-09-21 18:43] chrisguida commented on #35
Waiting for the user with this issue to test @BitcoinMechanic @islandbitcoin

[2022-09-21 18:44] BitcoinMechanic commented on #35
Waiting for her to get back to me

[2022-09-21 18:45] chrisguida commented on #22
@islandbitcoin has started work on this

@kn0wmad will test before this is pushed to beta

[2022-09-21 18:55] islandbitcoin commented on #67
Needs update for JAM service.

[2022-09-21 19:26] kn0wmad commented on #46
I think this may require clearnet, please wait for architectural comment from @dr-bonez

[2022-09-21 19:28] kn0wmad opened #72 "[Service]: Chess"
### What kind of service is this?

Other

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [ ] Freedom Tech
- [ ] Data Privacy
- [ ] Bitcoin/Lightning
- [ ] Open Source Dev

### How complex is this service?

Easy

### How popular is this service?

Low Demand

### Upstream Repo

[2022-09-21 19:28] kn0wmad commented on #72
CC @k0gen

[2022-09-26 20:47] islandbitcoin commented on #41
working on Alpha.

[2022-10-03 16:18] k0gen opened #74 "[service] Caravan - Stateless Multisig Coordinator"
[Caravan](https://github.com/unchained-capital/caravan) is making bitcoin multisig custody easier and safer through transparency and standards.

Caravan is a coordination software. It connects to a source of consensus and your keys to build and interact with multisig bitcoin addresses.

Demo site [here](https://unchained-capital.github.io/caravan/#/)

[2022-10-04 01:38] JesseMarkowitz opened #75 "[Service]: CryptPad v5.1"
### What kind of service is this?

Data

### What does this service do?

[code]

### How does this service work?

[code]

### What alternative services exist?

[code]

### How does this align with our Mission?

- [X] Freedom Tech
- [X] Data Privacy
- [ ] Bitcoin/Lightning
- [X] Open Source Dev

### How complex is this service?

Easy

### How popular is this service?

High Demand

### Upstream Repo

[2022-10-04 18:44] kn0wmad commented on #66
v24 is around the corner, may wish to prep to include this

[2022-10-04 20:07] kn0wmad commented on #42
@dr-bonez does this have architectural approval?

[2022-10-04 20:07] kn0wmad commented on #45
@dr-bonez does this have architectural approval?

[2022-10-04 23:44] dr-bonez commented on #42
Upon further examination, this is a client-side only project. It can use any webdav server as a backend, but it does not have it's own.

[2022-10-05 14:38] kn0wmad commented on #42
Okay, can recommend for use with NC, thank you

[2022-10-10 16:42] elvece opened #76 "[Update-Pro] Bitcoin"

[2022-10-10 16:43] elvece opened #77 "[Update-Pro] Bitcoin Proxy"

[2022-10-10 16:43] elvece opened #78 "[Update-Pro] BTCPay Server"
- [x] convert build to multi arch
- [x] ~~convert health check to JS~~ (dependent on long running containers)
- [ ] ~~convert actions to JS~~ (dependent on long running containers)
- [x] remove submodules
- [x] https://github.com/Start9Labs/btcpayserver-wrapper/pull/34
- [x] https://github.com/Start9Labs/btcpayserver-wrapper/pull/36

[2022-10-10 16:44] elvece opened #79 "[Update-Pro] BAR"
- [x] Add empty migration
- [x] Add conversion to JS for:
     - [x] properties
     - [x] config
     - [x] migration
- [x] https://github.com/Start9Labs/burn-after-reading/pull/17
- [x] https://github.com/Start9Labs/burn-after-reading/pull/18

[2022-10-10 16:44] elvece opened #80 "[Update-Pro] CLN"

[2022-10-10 16:45] elvece opened #81 "[Update-Pro] Electrs v0.9.9.1"

[2022-10-10 16:45] elvece opened #82 "[Update-Pro] Embassy Pages"
- [x] https://github.com/Start9Labs/embassy-pages-wrapper/pull/10
- [x] https://github.com/Start9Labs/embassy-pages-wrapper/pull/11

[2022-10-10 16:45] elvece opened #83 "[Update-Pro] File Browser"
- [x] https://github.com/Start9Labs/filebrowser-wrapper/pull/31
- [x] https://github.com/Start9Labs/filebrowser-wrapper/pull/33

[2022-10-10 16:45] elvece opened #84 "[Update::Pro] Gitea"

[2022-10-10 16:46] elvece opened #85 "[Update-Pro] LND"

[2022-10-10 16:46] elvece opened #86 "[Update-Pro] Lightning Terminal"

[2022-10-10 16:46] elvece opened #87 "[Update-Pro] Mastodon"

[2022-10-10 16:47] elvece opened #88 "[Update-Pro] Mempool"

[2022-10-10 16:47] elvece opened #89 "[Update-Pro] NextCloud"

[2022-10-10 16:48] elvece commented on #89
Lowest priority as not released yet

[2022-10-10 16:49] elvece opened #90 "[Update-Pro] Photoview"
- [x] implement js health check
- [x] https://github.com/Start9Labs/photoview-wrapper/pull/16
- [x] https://github.com/Start9Labs/photoview-wrapper/pull/19
- [x] Bug to be fixed: https://github.com/Start9Labs/photoview-wrapper/issues/18

[2022-10-10 16:49] elvece opened #91 "[Update-Pro] RTL v0.13.1.1"

[2022-10-10 16:49] elvece opened #92 "[Update-Pro] Spark Wallet"

[2022-10-10 16:50] elvece opened #93 "[Update-Pro] Specter"
- [x] implement js health check
- [x] https://github.com/Start9Labs/specter-wrapper/pull/39
- [x] https://github.com/Start9Labs/specter-wrapper/pull/42

[2022-10-10 16:50] elvece opened #94 "[Update-Pro] Synapse"

[2022-10-10 16:51] elvece opened #95 "[Update-Pro] Thunderhub"

[2022-10-10 16:51] elvece opened #96 "[Update-Pro] Vaultwarden"
- [x] https://github.com/Start9Labs/vaultwarden-wrapper/pull/23
- [x] https://github.com/Start9Labs/vaultwarden-wrapper/pull/24

[2022-10-10 16:51] elvece opened #97 "[Update-Pro] RoboSats"

[2022-10-10 16:51] elvece opened #98 "[Update-Pro] Syncthing"

[2022-10-10 16:52] elvece opened #99 "[Update-Pro] Ghost"

[2022-10-10 16:52] elvece opened #100 "[Update-Pro] Balance of Satoshis"

[2022-10-10 16:52] elvece opened #101 "[Update-Pro] Sphinx Chat"
- [x] https://github.com/Start9Labs/sphinx-relay-wrapper/pull/18
- [x] https://github.com/Start9Labs/sphinx-relay-wrapper/pull/19

[2022-10-10 16:52] elvece opened #102 "[Update-Pro] Lightning Jet"

[2022-10-10 16:52] elvece opened #103 "[Update-Pro] Cups"
- [x] https://github.com/Start9Labs/cups-wrapper/pull/7
- [x] https://github.com/Start9Labs/cups-wrapper/pull/8

[2022-10-10 16:52] elvece opened #104 "[Update-Pro] LNDg"

[2022-10-10 16:53] elvece opened #105 "[Update-Pro] Agora"

[2022-10-19 15:57] chrisguida commented on #80
We can include the upstream 0.12.1 release with the Pro release: https://github.com/Start9Labs/service-pipeline/issues/60

[2022-11-22 19:01] islandbitcoin commented on #85
removed js-main conversion on `feat/x86` branch

[2022-11-22 19:09] islandbitcoin commented on #95
removed js-main conversion on` feat/x86 `branch

[2022-11-22 19:49] islandbitcoin commented on #102
excluded js-main conversion

[2022-11-22 19:58] islandbitcoin commented on #86
excluded js-main conversion

[2022-11-22 20:30] islandbitcoin commented on #97
excluded js-main conversion

[2022-11-22 20:47] islandbitcoin commented on #100
excluded js-main conversion